onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@prisma/engines
